@model ProductDetailProject.Models.CategoryTable

@{
    ViewBag.Title = "Insert";
}

<style>
    .image {
        background-image: url('https://coolbackgrounds.io/images/backgrounds/white/white-triangle-369b8d2d.jpg');
    }
</style>
<body class="image">

    <h2>Insert New Category</h2>

   
    <br />
    <form method="POST" action="/Category/insert">

        <div class="form-group">
            <label for="CategoryName">Category Name:</label>
            <input type="text" class="form-control" id="CategoryName" name="CategoryName">
        </div>

        <button type="submit" class="btn btn-default">Insert Category</button>
    </form>
    <br />
    <h4>
        <b>
            @Html.ActionLink("View Category Table", "Index")
        </b>
    </h4>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
   </body>